.header {
    position: absolute;
    left: 3vw;
    top: 4vh;
    text-transform: uppercase;

    h1 {
        border-bottom: 0.15741vh solid rgba(255,255,255,0.2);
        text-transform: uppercase;
        font-size: 2.592592592592593vh;
        font-weight: 400;
        margin-bottom: 1.851851851851852vh;
        line-height: 4.62962962962963vh;
        width: calc(10vw + 4vh);
    }
}
