body 
{
    background-color: lightblue;
}

.match_info 
{
    position: static;
    right: 60vw;
    text-align: left;
}

.left-column
{
    background-color: slateblue;
    float: left;
    width: 33.33%;
    text-align: left;
}

.middle-column
{
    background-color: seagreen;
    float: left;
    width: 33.33%;
    text-align: center;
}

.right-column
{
    background-color: salmon;
    float: right;
    width: 33.33%;
    text-align: right;
}

.round-info
{
    position: absolute;
    bottom: 10vh;
    right: 5vw;
    text-align: right;
}

.match-title
{
    padding-top: 5vh;
    padding-right: 5vh;
    color: lightskyblue;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.safe-zone
{
    background-color: red;
    overflow-x: scroll;
    white-space: nowrap;
    width: 1280;
    height: 720;
}

.row:after
{
    content: "";
    display: table;
    clear: both;
}