html {
    text-shadow: 0px 0px 3px #0005;
}
#promod_header {
    font-size: 2.5vw;
    padding: 1.5vw;
    padding-right: 2vw;
    text-align: right;
    display: none;
}

#page_nadetraining {
    display: none;
} 

#page_warmup {
    display: none;
}

#page_kniferound
{
    display: none;
}

#page_endgame
{
    display: none;
}

#page_firsthalf
{
    display: none;
}

#page_secondhalf
{
    display: none;
}

#page_halftime
{
    display: none;
}

#page_timeout
{
    display: none;
}

#page_strat
{
    display: none;
}

.window, .page {
    width: 100vw;
    height: 100vh;
}

li {
    min-height:1vw;
    list-style: none;
}

key {
    color: yellow;
}

#strat_countdown
{
    text-align: center;
}

#StratView {
    font-size: 1.5vw;
    padding: 1.5vw;
}
.aspectRatio {
    width: 50%;
}
.center {
    margin: auto;
    text-align: center;
}
.right {
    text-align: right;
}

h1 {
    font-size: 5vw;
}
h2 {
    font-size: 2.5vw;
}
#score_view {
    display: grid;
    width: 25vw;
    font-size: 2.5vw;
}
#score_view img {
    width: 10vw;
    height: 10vw;
}
#Team1 {
    grid-column: 1;
}
#Team2 {
    grid-column: 2;
}
#warmup_view {
    font-size:1.5vw;
}

#warmup_view .right {
    padding-right: 1vw;
    width: 10vw;
    float: right;
    text-align: center;
}