html {
    text-shadow: 0px 0px 3px #0005;
}
#PromodHeader {
    font-size: 2.5vw;
    padding: 1.5vw;
    padding-right: 2vw;
    text-align: right
}

#NadeTraining {
    display:unset;
} 

#PreRoundPage {
    display: unset;
}

.window, .page {
    width: 100vw;
    height: 100vh;
}

li {
    min-height:1vw;
}

key {
    color: yellow;
}

#StratView {
    font-size: 1.5vw;
    padding: 1.5vw;
}
.aspectRatio {
    width: 50%;
}
.center {
    margin: auto;
    text-align: center;
}
.right {
    text-align: right;
}

h1 {
    font-size: 5vw;
}
h2 {
    font-size: 2.5vw;
}
#ScoreView {
    display: grid;
    width: 25vw;
    font-size: 2.5vw;
}
#ScoreView img {
    width: 10vw;
    height: 10vw;
}
#Team1 {
    grid-column: 1;
}
#Team2 {
    grid-column: 2;
}
#PreRoundView {
    font-size:1.5vw;
}
#PreRoundView .right {
    padding-right: 1vw;
    width: 10vw;
    float: right;
    text-align: center;
}